---
import config from "../content/config/config.json";
import IconLink from "./react/IconLink";
const today = new Date();
---
<footer class="copyright-footer">
	&copy; {today.getFullYear()}
	{config.seo.siteOwner}. All rights reserved.
	<div class="social-links">
		{
			config?.contactLinks?.map((link) => {
				return (
					<IconLink {...link} />
				);
			})
		}
		<!-- Added Contact Email Link -->
		<a href="mailto:gio.hering@gmail.com" aria-label="Email me">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
				></path>
				<polyline points="22,6 12,13 2,6"></polyline>
			</svg>
		</a>
	</div>
</footer>

<style>
	.copyright-footer {
		padding: 2em 1em 2em 1em;
		/* Using a solid dark color to match the header, instead of the gradient */
		background: #111827;
		color: rgb(var(--gray));
		text-align: center;
	}

	.social-links {
		display: flex;
		justify-content: center;
		align-items: center; /* Vertically align icons */
		gap: 1em;
		margin-top: 1em;
	}

	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
		transition: color 0.2s ease-in-out; /* Smooth transition */
	}

	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
